##### Importamos la librería Pandas

In [1]:
import pandas

C:\Users\marti\AppData\Local\Temp\ipykernel_23556\3648170110.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

##### Creamos una variable de tipo dataframe y cargamos el contenido del archivo excel "Clientes" ubicado en la carpeta "datasets"

In [2]:
df = pandas.read_excel('datasets\clientes.xlsx')

##### Con la funcion type() vemos el tipo de dato de la variable df, en este caso confirmamos que se trata de un dataframe

In [3]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

##### Vemos las distintas opciones que tenemos con la función tail()
- variable.tail(): muestra por defecto las últimas 5 filas de nuestro dataframe
- variable.tail(2): muestra las últimas dos filas de nuestro dataframe
- variable.tail(n): muestra las "n" últimas filas de nuestro dataframe

In [4]:
df.tail()

,id,nombre,apellido,fecha_de_nacimiento,telefono,email,pais,estado,ciudad,domicilio
25,1026,Joseph,Turner,10-Mar-1990,+1 555-345-6789,joseph.turner@example.com,Canadá,Ontario,Ottawa,901 Cedar Drive
26,1027,Chloe,Mitchell,5-Jul-1995,+1 555-654-3210,chloe.mitchell@example.com,México,Quintana Roo,Cancún,234 Elm Lane
27,1028,Henry,Walker,16-Ago-1988,+1 555-876-5432,henry.walker@example.com,Brasil,Rio de Janeiro,Río de Janeiro,567 Maple Drive
28,1029,Emily,Baker,1-Ene-1993,+1 555-234-5678,emily.baker@example.com,Canadá,Ontario,Toronto,890 Oak Avenue
29,1030,Sebastian,Moore,29-Sep-1992,+1 555-123-4599,sebastian.moore@example.com,Canadá,Alberta,Calgary,932 Elm Lane

In [5]:
df.tail(2)

,id,nombre,apellido,fecha_de_nacimiento,telefono,email,pais,estado,ciudad,domicilio
28,1029,Emily,Baker,1-Ene-1993,+1 555-234-5678,emily.baker@example.com,Canadá,Ontario,Toronto,890 Oak Avenue
29,1030,Sebastian,Moore,29-Sep-1992,+1 555-123-4599,sebastian.moore@example.com,Canadá,Alberta,Calgary,932 Elm Lane

In [6]:
df.tail(50)

,id,nombre,apellido,fecha_de_nacimiento,telefono,email,pais,estado,ciudad,domicilio
0,1001,Isabella,Martinez,10-Feb-1995,+1 555-123-4567,isabella.martinez@example.com,Estados Unidos,California,Los Angeles,123 Main Street
1,1002,Benjamin,Anderson,25-Ago-1990,+1 555-987-6543,ben.anderson@example.com,Canadá,Ontario,Toronto,456 Maple Avenue
2,1003,Sophia,Rodriguez,5-Jul-1988,+1 555-789-0123,sophia.rodriguez@example.com,México,Ciudad de México,Ciudad de México,789 Oak Street
3,1004,Liam,Thompson,15-Abr-1993,+1 555-234-5678,liam.thompson@example.com,Reino Unido,Inglaterra,Londres,345 Elm Road
4,1005,Olivia,Wilson,20-May-1998,+1 555-876-5432,olivia.wilson@example.com,Australia,Nueva Gales del Sur,Sídney,567 Pine Avenue
5,1006,Lucas,Garcia,3-Mar-1992,+1 555-345-6789,lucas.garcia@example.com,Brasil,São Paulo,São Paulo,890 Cedar Lane
6,1007,Emma,Smith,12-Nov-1987,+1 555-654-3210,emma.smith@example.com,Estados Unidos,Nueva York,Nueva York,678 Birch Street
7,1008,Noah,Hernandez,18-Sep-1996,+1 555-987-6543,noah.hernandez@example.com,México,Nuevo León,Monterrey,901 Willow Court
8,1009,Mia,Johnson,7-Dic-1994,+1 555-456-7890,mia.johnson@example.com,Canadá,Quebec,Montreal,234 Cedar Street
9,1010,Ethan,Lopez,28-Jun-1991,+1 555-123-4567,ethan.lopez@example.com,Estados Unidos,Texas,Houston,567 Maple Drive
10,1011,Ava,Martin,22-Oct-1989,+1 555-789-0123,ava.martin@example.com,Australia,Victoria,Melbourne,890 Oak Avenue
11,1012,Jacob,Perez,9-Ene-1997,+1 555-234-5678,jacob.perez@example.com,España,Comunidad de Madrid,Madrid,123 Elm Street
12,1013,Charlotte,Davis,14-Mar-1990,+1 555-876-5432,charlotte.davis@example.com,Alemania,Baviera,Múnich,456 Pine Lane
13,1014,William,Gonzalez,30-Abr-1999,+1 555-345-6789,william.gonzalez@example.com,Argentina,Buenos Aires,Buenos Aires,789 Cedar Drive
14,1015,Amelia,Lewis,11-Ago-1992,+1 555-654-3210,amelia.lewis@example.com,Canadá,Columbia Británica,Vancouver,901 Oak Road
15,1016,James,Clark,6-May-1985,+1 555-987-6543,james.clark@example.com,Estados Unidos,Florida,Miami,234 Elm Avenue
16,1017,Harper,Lee,17-Jul-1993,+1 555-456-7890,harper.lee@example.com,Reino Unido,Escocia,Edimburgo,567 Maple Lane
17,1018,Alexander,Hall,23-Sep-1986,+1 555-123-4567,alexander.hall@example.com,Estados Unidos,Illinois,Chicago,890 Oak Street
18,1019,Evelyn,White,2-Feb-1996,+1 555-789-0123,evelyn.white@example.com,Australia,Queensland,Brisbane,123 Pine Road
19,1020,Michael,Baker,8-Jun-1994,+1 555-234-5678,michael.baker@example.com,Canadá,Alberta,Calgary,456 Elm Lane
20,1021,Evelyn,Foster,19-Nov-1998,+1 555-876-5432,evelyn.foster@example.com,México,Jalisco,Guadalajara,789 Maple Court
21,1022,Samuel,Martinez,4-Dic-1984,+1 555-345-6789,samuel.martinez@example.com,Estados Unidos,Arizona,Phoenix,901 Cedar Avenue
22,1023,Grace,Collins,27-Oct-1991,+1 555-654-3210,grace.collins@example.com,Canadá,British Columbia,Vancouver,123 Oak Street
23,1024,Daniel,Adams,13-May-1989,+1 555-234-5678,daniel.adams@example.com,México,Veracruz,Veracruz,456 Birch Lane
24,1025,Scarlett,King,21-Abr-1997,+1 555-987-6543,scarlett.king@example.com,Estados Unidos,Colorado,Denver,789 Pine Court
25,1026,Joseph,Turner,10-Mar-1990,+1 555-345-6789,joseph.turner@example.com,Canadá,Ontario,Ottawa,901 Cedar Drive
26,1027,Chloe,Mitchell,5-Jul-1995,+1 555-654-3210,chloe.mitchell@example.com,México,Quintana Roo,Cancún,234 Elm Lane
27,1028,Henry,Walker,16-Ago-1988,+1 555-876-5432,henry.walker@example.com,Brasil,Rio de Janeiro,Río de Janeiro,567 Maple Drive
28,1029,Emily,Baker,1-Ene-1993,+1 555-234-5678,emily.baker@example.com,Canadá,Ontario,Toronto,890 Oak Avenue
29,1030,Sebastian,Moore,29-Sep-1992,+1 555-123-4599,sebastian.moore@example.com,Canadá,Alberta,Calgary,932 Elm Lane